.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(133, 39, 39);
}

.nav-bar .mid-navbar {
  display: flex;
  justify-content: center;
  margin-left: 12%;
  width: 100%;
  height: auto;
}

.nav-bar .right-navbar {
  width: auto;
  height: 50%;
  margin-right: 2%;
  display: flex;
  font-size: 1.2rem;
  justify-content: right;
}
.nav-bar .right-navbar a {
  display: flex;
  color: white;
  background-color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out all;
}

.nav-bar .right-navbar a:hover {
  background-color: rgb(133, 39, 39);
}

.hero-container {
  display: flex;
  flex-direction: column;
  padding: 10rem;
  margin-top: 0;
  align-items: center;
  font-size: 3vw;
  color: white;
  justify-content: center;
  background-image: url(../assests/images/tolga-ahmetler-ZPRgmVqgPj0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.hero-container .hero-header {
  text-shadow: 2px 2px 8px black;
}

.hero-container .hero-quote {
  text-shadow: 2px 2px 8px black;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}
.main-content a {
  color: red;
}

.main-content p {
  margin: 10px;
  margin-left: 1vw;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 20px;
  background-color: grey;
}

.footer a {
  color: black;
}
